<div class="employe-navbar">
  <div class="title">{{employeeInfo.prenom}}  {{employeeInfo.nom}}</div>
  <div class="actions">
    <button class="action-but">Modifier Statut</button>
    <button class="action-but">Action Z</button>
  </div>
</div>
<div class="profile-body">
  <div class="inf courriel"><span>Courriel</span>
    <p>{{employeeInfo.courriel}}</p>
  </div>
  <div class="inf dateCr"><span>Date Création</span><p>{{employeeInfo.date_inscription}}</p></div>
  <div class="inf ajust"><span>Ajustement Temps</span><p>{{employeeInfo.ajustement_temps}}</p></div>
  <div class="inf raijust"><span>Rais Ajust Temps</span><p>{{employeeInfo.rais_ajust_temps}}</p></div>
  <div class="inf actif">
    <span>Statut</span> <p>{{employeeInfo.actif}}</p>
  </div>
</div>
