<div class="client-navbar">
  <div class="title">Clients</div>
  <div class="search">
    <input type="text" name="search" placeholder="Rechercher un client" (keyup)="applyFilter($event)">
    <button onclick="alert('Hello')">search</button>
  </div>
  <div class="actions">
    <button (click)="openDialog()">Ajouter client</button>

  </div>
</div>

<div class="client-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="id_client">
        <th mat-header-cell *matHeaderCellDef> Client ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id_client}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nom_du_client">
        <th mat-header-cell *matHeaderCellDef> Nom</th>
        <td mat-cell *matCellDef="let element" style="cursor: pointer; color: #669bbc;"> {{element.nom_du_client}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="categorie_client">
        <th mat-header-cell *matHeaderCellDef> Categorie </th>
        <td mat-cell *matCellDef="let element"> {{element.categorie_client}} </td>
      </ng-container>

      <ng-container matColumnDef="nom_contact">
        <th mat-header-cell *matHeaderCellDef> Nom du Contact </th>
        <td mat-cell *matCellDef="let element"> {{element.nom_contact}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="courriel">
        <th mat-header-cell *matHeaderCellDef> Courriel </th>
        <td mat-cell *matCellDef="let element"> {{element.courriel}} </td>
      </ng-container>
      <ng-container matColumnDef="forme_adhesion">
        <th mat-header-cell *matHeaderCellDef >Forme Adhésion</th>
        <td mat-cell *matCellDef="let element" class="large-column"> {{element.forme_adhesion }} </td>
      </ng-container>
      <ng-container matColumnDef="annee_adhesion">
        <th mat-header-cell *matHeaderCellDef> Année Adhésion  </th>
        <td mat-cell *matCellDef="let element"> {{element.annee_adhesion}} </td>
      </ng-container>
      <ng-container matColumnDef="courriel2">
        <th mat-header-cell *matHeaderCellDef>courriel2</th>
        <td mat-cell *matCellDef="let element"> {{element.courriel2}} </td>
      </ng-container>
      <ng-container matColumnDef="site_web">
        <th mat-header-cell *matHeaderCellDef> Site Web  </th>
        <td mat-cell *matCellDef="let element"> {{element.site_web}}
        </td>
      </ng-container>
      <ng-container matColumnDef="no_tel">
        <th mat-header-cell *matHeaderCellDef> Telephone  </th>
        <td mat-cell *matCellDef="let element"> {{element.no_tel}}
        </td>
      </ng-container>
      <ng-container matColumnDef="addresse">
        <th mat-header-cell *matHeaderCellDef> Addresse  </th>
        <td mat-cell *matCellDef="let element"> {{element.addresse}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator> -->
  </div>

</div>

