<div class="employe-navbar">
  <div class="title">Projets</div>
  <div class="search">
    <input type="text" name="search" placeholder="Entrez un mot clé du projet" (keyup)="applyFilter($event)">
  </div>
  <div class="actions">
    <button (click)="downloadCsv()">Export</button>

  </div>

  </div>
  <mat-sidenav-container class="container">

    <mat-sidenav mode="side" opened>
      <mat-toolbar>Projets</mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let projet of projets" (click)="selectProjet(projet)">
          <span>{{ projet.nom_du_projet }}</span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <mat-card *ngIf="selectedProjet" class="card">

          <div class="card-grid">

            <!-- Carte Projet -->
            <mat-card class="custom-card">
              <mat-card-header>
                <mat-card-title>{{ selectedProjet.nom_du_projet }}</mat-card-title>
                <mat-card-subtitle>
                  {{ getTypeApproche(selectedProjet.type_projet) }} – {{ generateIdentifiantProjet(selectedProjet.type_projet, selectedProjet.identifiant) }}
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p><strong >Code projet :</strong> {{ selectedProjet.code_projet }}</p>
                <p><strong>Détail :</strong> {{ selectedProjet.detail }}</p>
                <p><strong>Résumé :</strong> {{ selectedProjet.resume }}</p>
              </mat-card-content>
            </mat-card>

            <!-- Carte Suivi & État -->
            <mat-card class="custom-card">
              <mat-card-header>
                <mat-card-title>Suivi & État</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Suivi :</strong> {{ selectedProjet.suivi }}</p>
                <p><strong>Statut  : </strong> <span class="badge" [ngClass]="getStatutClass(selectedProjet.statut)">
                  {{ getLibelleStatut(selectedProjet.statut) }}
                </span></p>
                <p><strong>État :</strong> {{ selectedProjet.code_etat_projet }}</p>
                <p><strong>Détail État :</strong> {{ selectedProjet.detail_etat_projet }}</p>
              </mat-card-content>
            </mat-card>

            <!-- Carte Employé Responsable -->
            <mat-card *ngIf="selectedEmploye" class="custom-card">
              <mat-card-header>
                <mat-card-title>Employé Responsable</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Nom :</strong> {{ selectedEmploye.nom }} {{ selectedEmploye.prenom }}</p>
                <p><strong>Courriel :</strong> {{ selectedEmploye.courriel }}</p>
              </mat-card-content>
            </mat-card>

            <!-- Carte Client -->
            <mat-card *ngIf="selectedClient" class="custom-card">
              <mat-card-header>
                <mat-card-title>Client</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Nom :</strong> {{ selectedClient.nom_du_client }}</p>
                <p><strong>Adresse :</strong> {{ selectedClient.adresse }}</p>
                <p><strong>Téléphone :</strong> {{ selectedClient.telephone }}</p>
                <p><strong>Site web :</strong>
                  <a [href]="selectedClient.site_web" target="_blank">{{ selectedClient.site_web }}</a>
                </p>
              </mat-card-content>
            </mat-card>
            <mat-card class="custom-card">
              <mat-card-header>
                <mat-card-title>Plannification</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Durée approximative (jth):</strong> {{ selectedProjet.duree_prevu }}</p>
                <p><strong>Montant de la soumission ($):{{ selectedProjet.montant_soumission }} </strong> </p>
                <p><strong>Date Debut :</strong> {{ selectedProjet.date_debut | date:'yyyy-MM-dd'  }}</p>
                <p><strong>Date Fin :</strong> {{ selectedProjet.date_fin | date:'yyyy-MM-dd'  }}</p>
              </mat-card-content>
            </mat-card>
            <!-- Carte Documents -->
            <mat-card class="custom-card">
              <mat-card-header>
                <mat-card-title>Documents</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Facturé :</strong>
                  <mat-checkbox [checked]="selectedProjet.facture" ></mat-checkbox>
                </p>
                <p><strong>Soumission :</strong>
                  <a [href]="selectedProjet.lien_soumision" target="_blank">Voir la soumission</a>
                </p>
              </mat-card-content>
            </mat-card>

            <!-- Carte Catégories & Tags -->
            <mat-card class="custom-card">
              <mat-card-header>
                <mat-card-title>Catégories & Tags</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Catégories :</strong> {{ selectedProjet.categories }}</p>
                <p><strong>Tags :</strong> {{ selectedProjet.tags }}</p>
              </mat-card-content>
            </mat-card>
            <mat-card class="custom-card">
              <mat-card-header>
                <mat-card-title>Publication</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Site web :</strong>   <a [href]="selectedProjet.site_web" target="_blank">{{selectedProjet.nom_du_projet}}</a></p>
                <p><strong>Publication :</strong> <mat-checkbox [checked]="selectedProjet.publication" ></mat-checkbox></p>
              </mat-card-content>
            </mat-card>
            <!-- Carte Localisation -->
            <mat-card class="custom-card">
              <mat-card-header>
                <mat-card-title>Localisation</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Municipalité :</strong> {{ getNomMRC(selectedProjet.code_mrc) }}</p>
                <p><strong>Région :</strong> {{ getNomRegion(selectedProjet.code_region) }}</p>
                <p><strong>Unité géographique :</strong> {{ getNomUniteGeo(selectedProjet.unite_geo) }}</p>
              </mat-card-content>
            </mat-card>

          </div>



      </mat-card>
    </mat-sidenav-content>
    <!-- <mat-sidenav-content class="content">
      <mat-card *ngIf="selectedProjet" class="card">
        <mat-card-title>{{ selectedProjet.nom_du_projet }}</mat-card-title>
        <mat-card-subtitle>Statut : {{ selectedProjet.statut }}</mat-card-subtitle>

        <mat-divider></mat-divider>

        <mat-card-content>

          <div class="part-1">
            <div class="title">Code du projet</div>
          <div class="info"> <span class="code"> #{{ selectedProjet.code_projet }}</span></div>


          </div>
          <mat-divider></mat-divider>
          <div class="part-1">
            <div class="title">Type d'approche </div>
          <div class="info"> <span class="dtatu">{{ getTypeApproche(selectedProjet.type_projet) }}</span></div>

          </div>

          <mat-divider></mat-divider>
          <div class="part-1">
            <div class="title">Indentifiant du projet </div>
          <div class="info"> <span class="id_projet">{{ generateIdentifiantProjet(selectedProjet.type_projet, selectedProjet.identifiant)}}</span></div>

          </div>
          <mat-divider></mat-divider>
          <div class="part-1">
            <div class="title">Chargé du projet </div>
            <ng-container *ngIf="selectedEmploye; else loadingEmploye">
              <div class="info"> <span>{{ selectedEmploye.nom }} {{ selectedEmploye.prenom }}</span></div>

            </ng-container>
            <ng-template #loadingEmploye><p>Chargement des infos employé...</p></ng-template>

          </div>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <div class="part-1">
            <div class="title"></div>
            <ng-container *ngIf="selectedEmploye; else loadingEmploye">
              <div class="info"> <span>{{ selectedEmploye.nom }} {{ selectedEmploye.prenom }}</span></div>

            </ng-container>
            <ng-template #loadingEmploye><p>Chargement des infos employé...</p></ng-template>

          </div>
          <mat-divider></mat-divider>


          <div class="part-1">
            <div class="title">Détails du projet</div>
          <p>{{ selectedProjet.detail }}</p>
          </div>

          <mat-divider></mat-divider>

          <div class="part-1">
            <div class="title">Suivi & État</div>
          <div class="info"><mat-icon>visibility</mat-icon> <span> {{ selectedProjet.suivi }}</span></div>
          <div class="info"><mat-icon>check_circle</mat-icon> <span>{{ selectedProjet.code_etat_proet }}</span></div>
          <div class="info"><mat-icon>info</mat-icon> <span>{{ selectedProjet.detail_etat_projet }}</span></div>

          </div>
          <mat-divider></mat-divider>


          <div class="part-1">
            <div class="title">Client</div>
          <ng-container *ngIf="selectedClient; else loadingClient">
            <div class="info"><mat-icon>business</mat-icon> <span>{{ selectedClient.nom }}</span></div>
            <div class="info"><mat-icon>location_on</mat-icon> <span>{{ selectedClient.adresse }}</span></div>
            <div class="info"><mat-icon>phone</mat-icon> <span>{{ selectedClient.telephone }}</span></div>
            <div class="info"><mat-icon>language</mat-icon> <a [href]="selectedClient.site_web" target="_blank">Site Web</a></div>
          </ng-container>
          </div>
          <ng-template #loadingClient><p>Chargement des infos client...</p></ng-template>

          <mat-divider></mat-divider>


         <div class="part-1">
          <div class="title">Employé Responsable</div>
          <ng-container *ngIf="selectedEmploye; else loadingEmploye">
            <div class="info"><mat-icon>person</mat-icon> <span>{{ selectedEmploye.nom }} {{ selectedEmploye.prenom }}</span></div>
            <div class="info"><mat-icon>email</mat-icon> <span>{{ selectedEmploye.courriel }}</span></div>
          </ng-container>
          <ng-template #loadingEmploye><p>Chargement des infos employé...</p></ng-template>

         </div>
          <mat-divider></mat-divider>


          <div class="part-1">
            <div class="title">Résumé</div>
          <p>{{ selectedProjet.resume }}</p>
          </div>

          <mat-divider></mat-divider>


          <div class="part-1">
            <div class="title">Documents</div>
          <div class="info"><mat-icon>description</mat-icon> <a [href]="selectedProjet.lien_facture" target="_blank">Facture</a></div>
          <div class="info"><mat-icon>attach_file</mat-icon> <a [href]="selectedProjet.lien_soumision" target="_blank">Soumission</a></div>

          </div>
          <mat-divider></mat-divider>


          <div class="part-1">
            <div class="title">Catégories & Tags</div>
          <div class="info"><mat-icon>category</mat-icon> <span>{{ selectedProjet.categories }}</span></div>
          <div class="info"><mat-icon>label</mat-icon> <span>{{ selectedProjet.tags }}</span></div>

          </div>
          <mat-divider></mat-divider>


          <div class="part-1">
            <div class="title">Localisation</div>
          <div class="info"><mat-icon>map</mat-icon> <span>{{ selectedProjet.code_mun }}</span></div>
          <div class="info"><mat-icon>public</mat-icon> <span>{{ selectedProjet.code_egion }}</span></div>
          <div class="info"><mat-icon>flag</mat-icon> <span>{{ selectedProjet.unite_goe }}</span></div>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content> -->
  </mat-sidenav-container>


