<div class="employe-navbar">
  <div class="title">Projets</div>
  <div class="search">
    <input type="text" name="search" placeholder="Entrez le username de l'employé" (keyup)="applyFilter($event)">
    <button onclick="alert('Hello')">search</button>
  </div>
  <div class="actions">
    <button >Ajouter employe</button>

  </div>

  </div>
  <div class="projet-table">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id_projet">
          <th mat-header-cell *matHeaderCellDef> ID Projet </th>
          <td mat-cell *matCellDef="let element"> {{element.id_projet}} </td>
        </ng-container>

        <ng-container matColumnDef="id_emloye">
          <th mat-header-cell *matHeaderCellDef> Employé ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id_emloye}} </td>
        </ng-container>
        <ng-container matColumnDef="id_client">
          <th mat-header-cell *matHeaderCellDef> Client ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id_client}} </td>
        </ng-container>

        <ng-container matColumnDef="nom_du_projet">
          <th mat-header-cell *matHeaderCellDef> Nom du Projet </th>
          <td mat-cell *matCellDef="let element"> {{element.nom_du_projet}} </td>
        </ng-container>

        <ng-container matColumnDef="code_projet">
          <th mat-header-cell *matHeaderCellDef> Code Projet </th>
          <td mat-cell *matCellDef="let element"> {{element.code_projet}} </td>
        </ng-container>
        <ng-container matColumnDef="code_etat_projet">
          <th mat-header-cell *matHeaderCellDef> Code Etat Projet </th>
          <td mat-cell *matCellDef="let element"> {{element.code_etat_projet}} </td>
        </ng-container>
        <ng-container matColumnDef="detail_etat_projet">
          <th mat-header-cell *matHeaderCellDef> Detail Etat Projet </th>
          <td mat-cell *matCellDef="let element"> {{element.detail_etat_projet}} </td>
        </ng-container>
        <ng-container matColumnDef="code_mun">
          <th mat-header-cell *matHeaderCellDef> Porjet Mun  </th>
          <td mat-cell *matCellDef="let element"> {{element.code_mun}} </td>
        </ng-container>
        <ng-container matColumnDef="type_projet">
          <th mat-header-cell *matHeaderCellDef>Type Projet</th>
          <td mat-cell *matCellDef="let element"> {{element.type_projet}} </td>
        </ng-container>
        <ng-container matColumnDef="code_mrc">
          <th mat-header-cell *matHeaderCellDef> Code MRC  </th>
          <td mat-cell *matCellDef="let element"> {{element.code_mrc}} </td>
        </ng-container>
        <ng-container matColumnDef="code_region">
          <th mat-header-cell *matHeaderCellDef> Code RE  </th>
        <td mat-cell *matCellDef="let element"> {{element.code_region}} </td>
        </ng-container>
        <ng-container matColumnDef="zgie">
          <th mat-header-cell *matHeaderCellDef> ZGIE  </th>
        <td mat-cell *matCellDef="let element"> {{element.zgie}} </td>
        </ng-container>
        <ng-container matColumnDef="unite_geo">
          <th mat-header-cell *matHeaderCellDef> Uité Geo  </th>
        <td mat-cell *matCellDef="let element"> {{element.unite_geo}} </td>
        </ng-container>

        <ng-container matColumnDef="statut">
          <th mat-header-cell *matHeaderCellDef> Statut </th>
          <td mat-cell *matCellDef="let element"> {{element.statut}} </td>
        </ng-container>
        <ng-container matColumnDef="carte_projet">
          <th mat-header-cell *matHeaderCellDef> Carte Projet </th>
          <td mat-cell *matCellDef="let element"> {{element.carte_projet}} </td>
        </ng-container>
        <ng-container matColumnDef="identifiant">
          <th mat-header-cell *matHeaderCellDef>identifiant </th>
          <td mat-cell *matCellDef="let element"> {{element.identifiant}} </td>
        </ng-container>

        <ng-container matColumnDef="date_prevue">
          <th mat-header-cell *matHeaderCellDef> Date Prévue </th>
          <td mat-cell *matCellDef="let element"> {{element.date_prevue}} </td>
        </ng-container>

        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef> Détail </th>
          <td mat-cell *matCellDef="let element"> {{element.detail}} </td>
        </ng-container>

        <ng-container matColumnDef="suivi">
          <th mat-header-cell *matHeaderCellDef> Suivi </th>
          <td mat-cell *matCellDef="let element"> {{element.suivi}} </td>
        </ng-container>
        <ng-container matColumnDef="facture">
          <th mat-header-cell *matHeaderCellDef>Facture </th>
          <td mat-cell *matCellDef="let element"> {{element.facture}} </td>
        </ng-container>
        <ng-container matColumnDef="lien_facture">
          <th mat-header-cell *matHeaderCellDef> Lien Facture </th>
          <td mat-cell *matCellDef="let element"> {{element.lien_facture}} </td>
        </ng-container>
        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef>Tags </th>
          <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
        </ng-container>

        <ng-container matColumnDef="lien_soumission">
          <th mat-header-cell *matHeaderCellDef> Lien Soumission </th>
          <td mat-cell *matCellDef="let element"> {{element.len_soumission}} </td>
        </ng-container>
        <ng-container matColumnDef="montant_soumission">
          <th mat-header-cell *matHeaderCellDef> Montant Soumission </th>
          <td mat-cell *matCellDef="let element"> {{element.montant_soumission}} </td>
        </ng-container>

        <ng-container matColumnDef="date_debut">
          <th mat-header-cell *matHeaderCellDef> Date Début </th>
          <td mat-cell *matCellDef="let element"> {{element.date_debut | date:'yyyy-MM-dd'}} </td>
        </ng-container>

        <ng-container matColumnDef="date_fin">
          <th mat-header-cell *matHeaderCellDef> Date Fin </th>
          <td mat-cell *matCellDef="let element"> {{element.date_fin | date:'yyyy-MM-dd'}} </td>
        </ng-container>

        <ng-container matColumnDef="site_web">
          <th mat-header-cell *matHeaderCellDef> Site Web </th>
          <td mat-cell *matCellDef="let element"> {{element.site_web}} </td>
        </ng-container>

        <ng-container matColumnDef="resume">
          <th mat-header-cell *matHeaderCellDef> Résumé </th>
          <td mat-cell *matCellDef="let element"> {{element.resume}} </td>
        </ng-container>
        <ng-container matColumnDef="etat_projet">
          <th mat-header-cell *matHeaderCellDef> Etat Projet </th>
          <td mat-cell *matCellDef="let element"> {{element.etat_projet}} </td>
        </ng-container>

        <ng-container matColumnDef="publication">
          <th mat-header-cell *matHeaderCellDef>Publication </th>
          <td mat-cell *matCellDef="let element"> {{element.publication}} </td>
        </ng-container>

        <ng-container matColumnDef="categories">
          <th mat-header-cell *matHeaderCellDef>Categorie </th>
          <td mat-cell *matCellDef="let element"> {{element.categories}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
