*{
  padding: auto;
}
.employe-navbar{
  background-color: #e0e1dd;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.employe-navbar  .title{
  font-size: 40px;
  font-weight: bold;
  color: #2196f3;
}
.employe-navbar .search{
  width: 50%;

}
.employe-navbar .search input{
  width: 70%;
  height: 40px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
.employe-navbar .search button{
  height: 45px;
  width: 100px;
  outline: none;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;



}
.employe-navbar .actions button{
  outline: none;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  height: 40px;
  padding: 10px;

}
.employe-table {
  font-size: 40px;
  padding: 40px;
}
.employe-table .matColumnDef{
  font-weight: bold;
}


.side{
  height: 300px;
  width: 500px;
}
.container {
  height: 100vh; /* Assure que le sidenav prend toute la hauteur */
  display: flex;

}

mat-sidenav {
  width: 250px; /* Ajuste la largeur du menu latéral */
  background: #e0e1dd;
}

mat-sidenav-content {
  /* padding: 20px; */
}
.c-title{
  color: #2196f3;
}
.content{
  width: 100%;
}
.card{
  padding: 5px;

}
.client-card {
  /* max-width: 450px; */
  /* margin: auto; */
  /* padding: 16px; */
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
  /* border-radius: 8px; */
}

.info {
  margin: 10px;

}

mat-icon {
  color: #2196f3;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
