.rapport-head{
  background-color: #e0e1dd;
  height: 100px;
  display: flex;
  color: #1d3557;
}

.rapport-head .title{
padding: 5px;
font-size: 40px;
}
.rapport-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.selectors {
  display: flex;
  align-items: center;
  gap: 20px;
}

.selectors mat-form-field {
  margin: 0;
}

.calendar {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
  background-color: #1d3557;
  outline: none;
  border: none;
  height: 50px;
  width: 80px;
  border-radius: 5px;
}

.rapport-head .selector{
display: flex;
justify-content: space-between;
width: 80%;
}

.rapport-body{
  height: 100vh;
  margin: 6px;
}
.rapport-body .location{
  background-color: #e0e1dd;
  padding: 5px;
  height: 100px;
}
.rapport-body .location .progress{
  height: 30px;

}
